### Django ###
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
venv
.gitignore

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/
